<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gatheria.mapper.RoomMapper">
  <select id="findByIds" resultType="com.talko.domain.Room">
    SELECT id, name, host_id, participant_count, created_at, updated_at
    FROM chatrooms
    WHERE id IN
    <foreach item="id" collection="ids" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>
</mapper>